<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2>Edit post</h2>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <p>Post id:<%=post.id%> </p>
        <p>Post Username: @<%=post.username %></p>
        <textarea name="content" id="content" placeholder="Enter content"><%=post.content %></textarea><br /><br />
        <button type="submit">submit</button>
    </form>
</body>
</html>